// @use 'fonts';
$font-family: "Montserrat", sans-serif;
$second-family: "Work Sans", sans-serif;
$container_width: 1170px;
$container_width_tablet:900px;
$container_width_mobile:500px;
$font_size: 16px;
$font_size_tablet: 14px;
$font_size_mobile: 12px;
$text-violet-dark: #212353;
$text-gray-dark: #4b5d68;
$text-white: #fff;
$colors-violet: #9c69e2;
$colors-violet-middle: #8a40ee;
$colors-pink: #f063b8;
$colors-pink-middle: #eb4bab;
$colors-green-light: #f0faf9;
$colors-violet-light: #f6f0fd;
$colors-pink-light: #fef0f8;
$colors-blue-light: #eaf6fc;
$colors-pink-medium: #fde8f5;
$colors-blue-medium: #cdf;
$colors-gray-light: rgba(75, 93, 104, 0.201);
$colors-blue-facebook: #3b5998;
$colors-blue-twitter: #00acee;
$colors-pink-instagram: #c13584;